FINNHUB_API_KEY=d86n64hr01ql1mmoajlgd86n64hr01ql1mmoajm0
DEEPSEEK_API_KEY=sk-fcf14d7e49b54378803659d7c2a8d323
SUPABASE_URL=https://xifholssjvjobtwpkklq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpZmhvbHNzanZqb2J0d3Bra2xxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNTk5MzMsImV4cCI6MjA5NDgzNTkzM30.FxWhmC4DbwRejE_DlLHiGqMb5rAS828AFcoRjIUuwOg